.btn {
  display: inline-flex;
  font-size: 12px;
  padding: 14px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;

  outline: none;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.btn--hero {
  border: 4px solid $color-default-white;
  background-color: $color-transparent;
  font-weight: 700;
  outline: none;
  grid-column: 2/3;
  grid-row: 3/4;
  align-self: center;
  justify-self: center;

  @include hover-focus {
    background-color: $color-default-white;
    color: $color-egyptian-blue;
    opacity: 1;
  }

  &:active {
    background-color: $color-default-white;
    color: $color-sapphire;
  }

  &:disabled {
    background-color: $color-transparent;
    color: $color-default-white;
    opacity: 0.5;
  }

  @include vp-767 {
    grid-column: 1/3;
  }
}

.btn--info {
  position: absolute;
  transition: $trans-default;

  @include center;
  padding: 30px;
  background: $linear-blue-to-red;
  border-radius: 50%;
  z-index: 2;

  @include hover-focus {
    background: $color-default-white;
    color: $color-sapphire;
    opacity: 1;
    outline: 2px solid $color-sapphire;
    outline-offset: 7px;
  }

  &:active {
    background-color: $color-default-white;
    color: $color-sapphire;
  }

  &:disabled {
    background-color: $color-default-white;
    color: $color-sapphire;
    opacity: 0.4;
  }
}
