.hero {
  box-sizing: border-box;
  padding: 52px 8%;
  background: $conic-blue-to-red;

  @include vp-1199 {
    padding: 82px 45px;
    min-height: 554px;
  }

  @include vp-767 {
    padding: 80px 15px;
    min-height: 490px;
  }
}

.hero__wrapper {
  width: 70%;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $color-default-white;
  display: grid;
  grid-template-columns: 1fr 2fr 594px;
  grid-template-rows: 1fr 2fr 2fr;

  @include vp-1199 {
    width: 100%;
  }
}

.hero b,
.hero h1 {
  font-family: "Alumni Sans", "Tahoma", sans-serif;
  font-weight: 600;
  font-size: 92px;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.01em;
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: end;
}

.hero b {
  font-size: 42px;
  letter-spacing: 0.02em;
  grid-row: 1/2;
  align-self: end;
}

.hero .hero__list {
  @include cleaning;
  grid-column: 1/2;
  grid-row: 1/-1;
  align-self: center;
  text-align: end;
  width: max-content;
}

.hero__item a {
  padding: 10px;

  @include hover-focus {
    opacity: 0.7;
  }

  @include active {
    opacity: 0.3;
  }
}

.hero__button {
  font-size: 12px;
  padding: 14px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  border: 4px solid $color-default-white;
  outline: none;
  grid-column: 2/3;
  grid-row: 3/4;
  align-self: center;

  @include vp-767 {
    grid-column: 1/3;
  }
}

.hero picture {
  grid-column: 3/-1;
  grid-row: 1/4;
  justify-self: end;

  @include vp-767 {
    display: none;
  }
}

.hero picture img {
  height: 92%;
}
