.info {
  overflow: hidden;
  min-width: 320px;
  width: 100%;
  background-color: $color-default-white;
}

.info .container {
  width: 100%;
  position: relative;
  padding: 160px 120px 103px 166px;
  display: grid;
  grid-template-columns: 355px 364px;
  grid-template-rows: 332px;
  column-gap: 22px;
  justify-content: start;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $color-sapphire;


  @include vp-1199 {
    width: 768px;
    padding: 78px 100px 103px 130px;
    grid-template-columns: 1fr;
  }

  @include vp-767 {
    min-width: 320px;
    width: 100%;
    max-width: 767px;
    padding: 0;
  }
}

.info__text {
  grid-column: 1/2;

  @include vp-1199 {
    grid-column: 1/-1;
    grid-row: 1/2;
    width: 100%;
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 0;
    padding: 76px 26px 40px 15px;
  }
}

.info__title {
  display: block;
  margin-bottom: 5px;

  @include vp-1199 {
    font-size: 40px;
    line-height: 56px;
    text-transform: none;
    margin-bottom: 0;
    text-align: start;
    margin-left: 122px;
    letter-spacing: 0.05em;
  }

  @include vp-767 {
    margin: 0;
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 0.06em;
  }
}

.info__text b {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px;
  display: block;

  @include vp-1199 {
    text-align: start;
    margin-bottom: 32px;
    margin-left: 112px;
    letter-spacing: 0;
  }

  @include vp-767 {
    margin: 0;
    margin-bottom: 30px;
  }
}

.info__text p {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 6px;

  @include vp-1199 {
    text-align: start;
  }

  @include vp-767 {
    text-align: justify;
  }
}

.info img {
  @include vp-767 {
    object-fit: cover;
  }
}

.info__add {
  @include vp-1199 {
    display: none;
  }
}

.info__video {
  grid-column: 2/-1;
  margin-top: -86px;
  width: 364px;
  height: 228px;
  position: relative;

  @include vp-1199 {
    grid-row: 2/-1;
    grid-column: 1/-1;
    margin-top: 180px;
    width: 266px;
    height: 167px;
    margin-left: -36px;
    justify-self: center;
  }

  @include vp-767 {
    width: 100%;
    height: 36%;
    margin: 0;
    margin-top: 356px;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.info__video::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  @include center;

  border-top: 2px solid rgba(184, 0, 39, 0.2);
  border-bottom: 2px solid rgba(0, 61, 133, 0.2);
  border-left: 2px solid rgba(184, 0, 39, 0.2);
  border-right: 2px solid rgba(0, 61, 133, 0.2);

  @include vp-1199 {
    width: 78px;
    height: 78px;
  }

  @include hover-focus {
    display: none;
  }

  &:active {
    display: none;
  }

  &:disabled {
    display: none;
  }
}

.info__video::after {
  content: "";
  position: absolute;
  background-color: rgba(20, 54, 122, 0.5);
  top: 0;
  width: 100%;
  height: 100%;
}

.info__background {
  position: absolute;
  width: 48.3%;
  height: 54%;
  top: 122px;
  left: 604px;
  z-index: 0;

  @include vp-1199 {
    width: 678px;
    height: 345px;
    top: 330px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include vp-767 {
    width: 100%;
    max-height: 313px;
  }
}

.info__link .btn--info {
  position: absolute;
}

.info__video--active::after {
  display: none;
}

.info__video--enabled .btn--info {
  display: flex;
}
