.nav-site {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $color-default-white;
  flex: 0 1 600px;
}

.nav-site ul {
  @include flex;
  justify-content: space-between;
}

.nav-site li {
  flex: 0 0 auto;
}

.nav-site .nav-site__link {
  padding: 10px;
  position: relative;
  display: block;
  box-sizing: border-box;

  &:hover::after {
    content: "";
    position: absolute;
    width: 76%;
    height: 1px;
    background-color: $color-default-white;
    top: 30px;
    left: 10px;
  }

  &:focus {
    outline: 1px solid $color-default-white;
  }

  &:disabled {
    opacity: 0.4;
  }
}
