.promo {
  overflow: hidden;
  min-width: 320px;
  width: 100%;
}

.promo__container {
  margin: 0 auto;
  padding: 190px 60px 45px;
  width: 100%;
  max-width: 1366px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  display: grid;
  grid-template-columns: 500px calc(100% - 500px);
  min-height: 500px;

  @include vp-1199 {
    padding: 106px 46px 101px;
    grid-template-columns: 40% 60%;
    min-height: 292px;
    min-width: 768px;
  }

  @include vp-767 {
    padding: 70px 15px 64px;
    min-width: 320px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, max-content);
  }
}

.promo__info {
  padding: 81px 78px;
  background-color: $color-torch-red;
  color: $color-default-white;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  @include vp-1199 {
    padding: 47px 45px;
  }

  @include vp-767 {
    min-height: 292px;
  }
}

.promo__info p {
  margin-top: 15px;
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  width: 100%;
  color: $color-default-white;

  @include vp-1199 {
    padding-top: 1px;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 18px;
  }
}

.promo__date {
  margin-right: 2px;
  width: 92px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  @include vp-1199 {
    width: 56px;
    margin-right: 0;
  }
}

.promo__date span {
  margin-bottom: 4px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;

  @include vp-1199 {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 18px;
  }
}

.promo__date b {
  border-top: solid 1px $color-default-white;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include vp-1199 {
    font-size: 24px;
    line-height: 30px;
  }
}

.promo__number {
  margin-bottom: 22px;
  border-top: solid 1px $color-default-white;
  padding-top: 4px;
  width: 64px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include vp-1199 {
    width: 42px;
    margin-bottom: 5px;
  }
}

.promo__number b {
  border: none;
  margin-top: 4px;
  line-height: 30px;

  @include vp-1199 {
    font-size: 24px;
    line-height: 17px;
  }
}

.promo__month span {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0;

  @include vp-1199 {
    font-size: 10px;
    line-height: 12px;
  }
}

.promo__title {
  margin: 0;
  margin-top: 3px;
  width: 201px;
  color: $color-default-white;
  font-weight: 600;
  font-size: 82px;
  line-height: 79px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin: 0;
    width: 117px;
    font-size: 48px;
    line-height: 48px;
  }
}

.promo__link {
  user-select: none;
  transition: $trans-default;
  border: 4px solid $color-default-white;
  color: $color-default-white;
  width: 100%;
  display: flex;
  padding: 26px 27px 23px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 2px;

  @include vp-1199 {
    margin-top: auto;
    font-size: 10px;
    line-height: 12px;
    padding: 12px;
    border: 2px solid $color-default-white;
  }

  @include hover-focus {
    background-color: $color-default-white;
    color: $color-egyptian-blue;
    opacity: 1;
  }

  &:active {
    background-color: $color-default-white;
    color: $color-sapphire;
  }

  &:disabled {
    background-color: $color-transparent;
    color: $color-default-white;
    opacity: 0.5;
  }
}

.promo__pic {
  position: relative;
  width: 100%;
  min-height: 500px;

  @include vp-1199 {
    min-height: auto;
  }

  @include vp-767 {
    min-height: 292px;
  }

  & img {
    position: absolute;
    display: flex;
    background-color: $color-egyptian-blue;
    object-fit: cover;
    width: 100%;
    height: 100%;

    @include vp-1199 {
      position: relative;
    }
  }
}
