.questions {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  background-color: $color-ghost-white;

  & .container {
    padding: 120px 92px 129px 104px;

    @include vp-1199 {
      padding: 108px 45px 100px;
      margin: 0 auto;
    }

    @include vp-767 {
      padding: 70px 15px 44px;
    }
  }

  &__title {
    margin: 0 0 37px 0;
    font-size: 54px;
    font-weight: 600;
    line-height: normal;

    @include vp-1199 {
      margin: 0 auto 40px;
      font-size: 42px;
      text-align: center;
    }

    @include vp-767 {
      font-size: 32px;
      margin: 0 auto 30px;
    }
  }

  &__tabs {
    display: grid;

    gap: 40px;
    grid-template-columns: 260px calc(100% - 300px);


    @include vp-1365 {
      grid-template-columns: 22.41% 73.14%;
    }

    @include vp-1199 {
      display: flex;
      flex-direction: column;
    }

    @include vp-767 {
      gap: 30px;
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;

    gap: 10px;

    @include vp-1199 {
      display: grid;

      grid-template-columns: repeat(4, 1fr);
    }

    @include vp-767 {
      gap: 8px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__control {
    user-select: none;
    min-height: 54px;
    padding: 10px;

    font-weight: 500;
    font-size: 18px;
    color: $color-sapphire;

    background-color: $color-transparent;
    outline: none;
    border: 1px solid rgba($color-sapphire, 0.2);
    cursor: pointer;

    @include vp-767 {
      font-size: 16px;
      min-height: 44px;
    }

    @include hover-focus {
      outline: none;
      border: 1px solid $color-sapphire;
    }

    &:focus-visible {
      outline: none;
      border: 1px solid $color-sapphire;
    }

    &.is-active,
    &:active {
      color: $color-default-white;

      background-image: $linear-blue-to-red;
      border: none;
    }

    &:disabled {
      color: rgba($color-sapphire, 0.3);

      pointer-events: none;
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    padding: 28px 0 16px;

    border-top: 1px solid rgba($color-resolution-blue, 0.2);

    @include vp-1199 {
      padding: 25px 0 20px 0;
    }

    @include vp-767 {
      padding: 20px 0 8px 0;
    }

    &:last-child {
      border-bottom: 1px solid rgba($color-resolution-blue, 0.2);
    }

    &.is-active {
      padding: 28px 0 24px 0;

      @include vp-1199 {
        padding: 25px 0 25px 0;
      }

      @include vp-767 {
        padding: 20px 0;
      }
    }
  }

  &__preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0 0 5px 0;

    @include vp-767 {
      margin: 0 0 12px 0;
      gap: 18px;
    }
  }

  &__preview-title {
    margin: 0;
    line-height: 1.2;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 600;
    font-size: 23px;

    @include vp-767 {
      font-size: 18px;
      letter-spacing: 0;
    }
  }

  &__item.is-active .questions__preview-button {
    background-color: $color-sapphire;

    &::before {
      background-color: $color-default-white;
    }

    &::after {
      display: none;
    }
  }

  &__preview-button {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;

    background-color: $color-transparent;
    border: 1px solid $color-sapphire;
    border-radius: 50%;
    cursor: pointer;

    @include vp-767 {
      width: 32px;
      height: 32px;
    }

    @include hover-focus {
      background-color: $color-sapphire;

      &::before,
      &::after {
        background-color: $color-default-white;
      }

      svg {
        stroke: $color-default-white;
      }
    }

    &:focus-visible {
      background-color: $color-sapphire;

      &::before,
      &::after {
        background-color: $color-default-white;
      }

      svg {
        stroke: $color-default-white;
      }
    }

    &:visited {
      background-color: $color-transparent;
    }

    &:visited svg {
      stroke: $color-sapphire;
    }

    &:disabled {
      opacity: 0.3;

      pointer-events: none;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 18px;
      height: 1px;

      background-color: $color-sapphire;
      transform: translateX(-50%) translateY(-50%);

      @include vp-767 {
        width: 12px;
      }
    }

    &::after {
      transform: translateX(-50%) translateY(-50%) rotate(90deg);
    }
  }

  &__description {
    @include vp-1199 {
      padding: 0 160px 0 0;
    }

    @include vp-767 {
      padding: 0 20px 0 0;
    }

    p,
    a {
      margin: 0;

      font-weight: 300;
      font-size: 18px;
      line-height: 1.4;
      color: $color-sapphire;

      @include vp-767 {
        font-size: 16px;
      }
    }

    a {
      @include hover-focus {
        opacity: 0.8;
      }
    }

    p {
      width: 78%;

      @include vp-1199 {
        width: 100%;
      }
    }
  }
}
