.social {
  @include flex;
  justify-content: space-between;
}

.social,
.social li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.social li {
  margin: 6px;

  @include vp-1199 {
    margin: 5.5px;
  }
}

.social__link {
  display: block;
  padding: 12px;
  background-color: $color-default-white;
  color: #030a1a;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  @include hover-focus {
    background-color: #103aae;
    border-radius: 50%;
    color: $color-default-white;
  }

  &:active {
    background-color: #102654;
    color: $color-default-white;
  }

  &:disabled {
    background-color: $color-default-white;
    color: #030a1a;
    opacity: 0.3;
  }
}

.social__link svg {
  @include center;
  position: absolute;
}
