.social {
  @include flex;
  justify-content: start;
  width: 110px;
  align-self: center;
}

.social,
.social li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.social li {
  margin: 6px;

  @include vp-1199 {
    margin: 5.5px;
  }
}

.social__link {
  display: block;
  padding: 12px;
  background-color: $color-default-white;
  color: #030a1a;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  &:hover,
  &:focus-visible,
  &:focus {
    outline: none;
    border: none;
  }

  &:hover svg,
  &:focus-visible svg,
  &:focus svg {
    background-color: #103aae;
    border-radius: 50%;
    color: $color-default-white;
    outline: none;
    border: none;
  }

  &:active svg {
    background-color: #102654;
    border-radius: 50%;
    color: $color-default-white;
  }

  &:disabled svg {
    background-color: $color-default-white;
    color: #030a1a;
    opacity: 0.3;
  }
}

.social__link svg {
  @include center;
  position: absolute;
}
